# Create .gitignore
echo "# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
.ipynb_checkpoints/
*.egg-info/
dist/
build/" > .gitignore

#ignore all env vars
.env